# Bazel build directories
bazel-bin/
bazel-genfiles/
bazel-out/
bazel-testlogs/
bazel-raylib/
external

MODULE.bazel.lock

# Temporary Bazel directories
_bazel_*/

# Bazel symlinks
/bazel-*

compile_commands.json
.cache
.DS_Store
